* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
	OVERFLOW-X: hidden
}
BODY {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
DIV {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
DL {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
DT {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
DD {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
UL {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
OL {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
LI {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
PRE {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
CODE {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
FORM {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
FIELDSET {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
LEGEND {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
INPUT {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
BUTTON {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
TEXTAREA {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
P {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
BLOCKQUOTE {
	FONT-SIZE: 12px; _background-image: url(about:blank); _background-attachment: fixed
}
INPUT {
	FONT-FAMILY: inherit; FONT-SIZE: 100%
}
BUTTON {
	FONT-FAMILY: inherit; FONT-SIZE: 100%
}
TEXTAREA {
	FONT-FAMILY: inherit; FONT-SIZE: 100%
}
SELECT {
	FONT-FAMILY: inherit; FONT-SIZE: 100%
}
OPTGROUP {
	FONT-FAMILY: inherit; FONT-SIZE: 100%
}
OPTION {
	FONT-FAMILY: inherit; FONT-SIZE: 100%
}
UL {
	LIST-STYLE-TYPE: none; DISPLAY: block
}
LI {
	LIST-STYLE-TYPE: none; DISPLAY: block
}
DL {
	LIST-STYLE-TYPE: none; DISPLAY: block
}
DT {
	LIST-STYLE-TYPE: none; DISPLAY: block
}
DD {
	LIST-STYLE-TYPE: none; DISPLAY: block
}
OL {
	LIST-STYLE-TYPE: none; DISPLAY: block
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.clear {
	HEIGHT: 0px; CLEAR: both
}
.clear-fix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: "."
}
A {
	OUTLINE-WIDTH: 0px; TEXT-DECORATION: none
}
.pl35 {
	PADDING-LEFT: 35px
}
.header {
	POSITION: relative; WIDTH: 100%
}
.topbd {
	WIDTH: 100%; BACKGROUND: #5d0503; HEIGHT: 100px
}
.top {
	MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 100px
}
.logo {
	WIDTH: 630px; FLOAT: left; HEIGHT: 100px
}
.toptel {
	TEXT-ALIGN: right; WIDTH: 230px; FLOAT: right; HEIGHT: 100px
}
.toptel .tel {
	TEXT-ALIGN: left; PADDING-LEFT: 48px; WIDTH: 230px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; BACKGROUND: url(../images/index_07.png) no-repeat left 20px; FLOAT: right; HEIGHT: 58px; COLOR: #fffdad; PADDING-TOP: 25px
}
.toptel .tel SPAN {
	DISPLAY: block; FONT-FAMILY: impact; FONT-SIZE: 26px; VERTICAL-ALIGN: middle
}
.navgrp {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: url(../images/navgroupbg.png) repeat-x left top; HEIGHT: 85px
}
.nav {
	Z-INDEX: 10; POSITION: absolute; MARGIN: 0px auto 0px -500px; WIDTH: 1000px; HEIGHT: 99px; TOP: -21px; LEFT: 50%
}
.nav LI {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 100px; FLOAT: left
}
.nav LI A {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 60px; PADDING-LEFT: 0px; WIDTH: 90px; PADDING-RIGHT: 10px; DISPLAY: block; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; BACKGROUND: url(../images/index_03.jpg) no-repeat right center; HEIGHT: 60px; COLOR: #fffdad; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 19px
}
.nav LI A:hover {
	BACKGROUND: url(../images/navbg.png) no-repeat 2px top; COLOR: #5d0503
}
.nav .menu A {
	LINE-HEIGHT: 60px; WIDTH: 90px; DISPLAY: block; BACKGROUND: url(../images/navbg.png) no-repeat 2px top; HEIGHT: 60px; COLOR: #5d0503
}
.banner {
	POSITION: relative; MARGIN-TOP: -23px; WIDTH: 100%; BACKGROUND: #000; HEIGHT: 417px
}
.bian {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 100%; BACKGROUND: url(../images/navgroupbg1.png) repeat-x left top; HEIGHT: 23px; TOP: 0px; LEFT: 0px
}
.bann {
	POSITION: absolute; WIDTH: 1600px; HEIGHT: 300px; TOP: 0px; LEFT: 0px
}
#focus {
	POSITION: relative; WIDTH: 1600px; HEIGHT: 300px; OVERFLOW: hidden
}
#focus UL {
	POSITION: absolute; HEIGHT: 300px
}
#focus UL LI {
	POSITION: relative; WIDTH: 1600px; FLOAT: left; HEIGHT: 300px; OVERFLOW: hidden
}
#focus .btn {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; BOTTOM: 24px; HEIGHT: 12px; LEFT: 0px
}
.banner2 {
	POSITION: relative; MARGIN-TOP: -23px; WIDTH: 100%; BACKGROUND: #000; HEIGHT: 300px
}
.salebd {
	Z-INDEX: 10; POSITION: relative; MARGIN-TOP: -55px; WIDTH: 100%; BACKGROUND: url(../images/index_03.png) repeat-x left bottom; HEIGHT: 307px
}
.nsbd {
	WIDTH: 100%; BACKGROUND: #a10d00; HEIGHT: 53px
}
.noSear {
	MARGIN: 0px auto; PADDING-LEFT: 85px; WIDTH: 845px; PADDING-RIGHT: 70px; BACKGROUND: url(../images/noticebg.png) no-repeat center top; HEIGHT: 71px
}
.noSear2 {
	Z-INDEX: 99; MARGIN: 0px auto; PADDING-LEFT: 85px; WIDTH: 845px; PADDING-RIGHT: 70px; BACKGROUND: url(../images/noticebg2.png) no-repeat center top; HEIGHT: 53px
}
.notice {
	LINE-HEIGHT: 53px; WIDTH: 455px; FLOAT: left; HEIGHT: 53px; COLOR: #a10d00
}
.notice .title {
	LINE-HEIGHT: 53px; WIDTH: 50px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.notice .noticenr {
	LINE-HEIGHT: 53px; WIDTH: 405px; FLOAT: left; HEIGHT: 53px; FONT-SIZE: 14px
}
.search {
	WIDTH: 375px; PADDING-RIGHT: 3px; FLOAT: right; HEIGHT: 44px; PADDING-TOP: 9px
}
.text {
	LINE-HEIGHT: 34px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 13px; WIDTH: 172px; BACKGROUND: url(../images/searbg.png) no-repeat left bottom; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 34px; COLOR: #666666; FONT-SIZE: 14px; BORDER-LEFT-WIDTH: 0px
}
.btn {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 76px; BACKGROUND: url(../images/sumbit.png) no-repeat center center; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 34px; COLOR: #fffdad; FONT-SIZE: 14px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold
}
.select {
	POSITION: relative; LINE-HEIGHT: 34px; WIDTH: 91px; PADDING-RIGHT: 19px; BACKGROUND: url(../images/index_09.png) no-repeat left top; FLOAT: left; HEIGHT: 34px
}
.select SELECT {
	MARGIN: 5px auto; WIDTH: 91px
}
.searchBar SPAN {
	MARGIN-TOP: 6px; FLOAT: right
}
.searchBar SPAN A {
	COLOR: #a10e01; MARGIN-RIGHT: 8px
}
.searchBar SPAN A:hover {
	COLOR: #ef9b11
}
.searchBar .select {
	MARGIN-TOP: 1px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 8px
}
.searchBar .text {
	FLOAT: left
}
.searchBar .text INPUT {
	BORDER-BOTTOM: #b7d1eb 1px solid; BORDER-LEFT: #b7d1eb 1px solid; WIDTH: 214px; HEIGHT: 17px; BORDER-TOP: #b7d1eb 1px solid; BORDER-RIGHT: #b7d1eb 1px solid; PADDING-TOP: 3px
}
DIV.selectbox-wrapper {
	Z-INDEX: 10; BORDER-BOTTOM: #b7d1eb 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #b7d1eb 1px solid; MARGIN-TOP: 0px; WIDTH: 91px; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 1px solid; LEFT: 0px
}
DIV.selectbox-wrapper UL LI.selected {
	BACKGROUND-COLOR: #a10e01; COLOR: #fff
}
DIV.selectbox-wrapper UL LI.current {
	BACKGROUND-COLOR: #a10e01; COLOR: #fff
}
DIV.selectbox-wrapper UL LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; LINE-HEIGHT: 24px; WIDTH: 100%; PADDING-RIGHT: 3px; FONT-SIZE: 14px; CURSOR: pointer; PADDING-TOP: 3px
}
.selectbox {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 34px; BORDER-RIGHT-STYLE: none; TEXT-INDENT: 8px; WIDTH: 91px; DISPLAY: block; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 34px; COLOR: #a10e01; FONT-SIZE: 14px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
.sale {
	MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 210px; PADDING-TOP: 20px
}
.Ttitle {
	POSITION: relative; WIDTH: 85px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; BACKGROUND: url(../images/index_15.png) no-repeat 10px 165px; FLOAT: left; HEIGHT: 210px; COLOR: #ff9292
}
.Ttitle A {
	DISPLAY: block; COLOR: #ff9292; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.Ttitle .china {
	PADDING-LEFT: 33px; WIDTH: 47px; DISPLAY: block; HEIGHT: 140px; FONT-SIZE: 18px
}
.Ttitle .english {
	POSITION: absolute; TEXT-TRANSFORM: uppercase; WIDTH: 20px; DISPLAY: block; HEIGHT: 100px; COLOR: #a10d00; FONT-SIZE: 12px; TOP: 65px; FONT-WEIGHT: normal; LEFT: 13px
}
.Ttitle2 {
	LINE-HEIGHT: 20px; PADDING-LEFT: 25px; WIDTH: 100px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; BACKGROUND: url(../images/index_19.png) no-repeat left top; FLOAT: left; HEIGHT: 211px; PADDING-TOP: 34px
}
.Ttitle2 A {
	COLOR: #fffdad; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.Ttitle2 SPAN {
	TEXT-TRANSFORM: uppercase; DISPLAY: block; COLOR: #fffdad; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.Ttitle3 {
	POSITION: relative; PADDING-BOTTOM: 5px; LINE-HEIGHT: 55px; MARGIN: 0px auto; PADDING-LEFT: 25px; WIDTH: 975px; PADDING-RIGHT: 0px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; BACKGROUND: url(../images/index_26.png) no-repeat left 8px; HEIGHT: 55px; PADDING-TOP: 5px
}
.Ttitle3 A {
	COLOR: #fffdad; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.Ttitle3 SPAN {
	TEXT-TRANSFORM: uppercase; COLOR: #fffdad; FONT-SIZE: 12px
}
.Ttitle3 .more {
	POSITION: absolute; WIDTH: 50px; HEIGHT: 51px; TOP: 0px; RIGHT: 15px
}
#saleList {
	WIDTH: 915px; FLOAT: left; HEIGHT: 210px; OVERFLOW: hidden
}
#saleListIn {
	WIDTH: 758%; FLOAT: left
}
#saleList1 {
	FLOAT: left
}
#saleList2 {
	FLOAT: left
}
#saleList LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 195px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/picbg.png) no-repeat left top; FLOAT: left; HEIGHT: 146px; MARGIN-LEFT: 25px; PADDING-TOP: 5px
}
#saleList LI .title {
	TEXT-ALIGN: center; LINE-HEIGHT: 60px; WIDTH: 205px; HEIGHT: 60px; COLOR: #ffffaf; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.section {
	POSITION: relative; MARGIN: auto; WIDTH: 100%; CLEAR: both; OVERFLOW: hidden
}
.ncBg {
	MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: url(../images/index_06.jpg) #e8e2c8 repeat-x center top; HEIGHT: 291px; PADDING-TOP: 9px
}
.ncBd {
	MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 245px; PADDING-TOP: 30px
}
.news {
	POSITION: relative; WIDTH: 525px; PADDING-RIGHT: 30px; FLOAT: left; HEIGHT: 245px
}
.news UL {
	WIDTH: 400px; FLOAT: left; HEIGHT: 245px; OVERFLOW: hidden
}
.news UL LI {
	BORDER-BOTTOM: #bd9f31 1px dotted; LINE-HEIGHT: 46px; HEIGHT: 46px; FONT-SIZE: 14px
}
.news UL LI SPAN {
	TEXT-ALIGN: center; WIDTH: 25px; DISPLAY: inline-block; BACKGROUND: url(../images/index_22.png) no-repeat center center; HEIGHT: 46px; COLOR: #fff
}
.news UL LI A {
	COLOR: #a10d00
}
.news UL LI A:hover {
	COLOR: #c50200
}
.contact {
	WIDTH: 445px; FLOAT: left; HEIGHT: 245px; OVERFLOW: hidden
}
.contactnr {
	WIDTH: 320px; FLOAT: left; HEIGHT: 245px
}
.contactnr .name {
	LINE-HEIGHT: 40px; DISPLAY: block; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; COLOR: #a10d00; FONT-SIZE: 22px
}
.contactnr .tel {
	LINE-HEIGHT: 40px; DISPLAY: block; FONT-FAMILY: Impact; COLOR: #a10d00; FONT-SIZE: 26px
}
.contactnr DL {
	WIDTH: 320px; DISPLAY: block; CLEAR: both
}
.contactnr DL DT {
	LINE-HEIGHT: 32px; COLOR: #a10d00; FONT-SIZE: 14px
}
.contactnr DL DD {
	LINE-HEIGHT: 32px; COLOR: #a10d00; FONT-SIZE: 14px
}
.contactnr DL DT {
	PADDING-LEFT: 25px; WIDTH: 45px; FLOAT: left
}
.contactnr DL DD {
	WIDTH: 230px; PADDING-RIGHT: 10px; FLOAT: left
}
.picbg {
	WIDTH: 100%; BACKGROUND: #e8e2c8
}
.proList {
	MARGIN: 0px auto; WIDTH: 1000px; PADDING-TOP: 15px
}
.proList DL {
	MARGIN-BOTTOM: 10px; FLOAT: left; MARGIN-RIGHT: 24px
}
.proList DL DT {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 214px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/picbg2.png) no-repeat left top; HEIGHT: 176px; PADDING-TOP: 5px
}
.proList DL DD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; WIDTH: 225px; HEIGHT: 30px
}
.proList DL DD A {
	COLOR: #a10d00; FONT-SIZE: 14px
}
.ckBg {
	BORDER-BOTTOM: #910b01 1px solid; WIDTH: 100%; BACKGROUND: url(../images/index_33.png) #5d0503 repeat-x center top; HEIGHT: 235px; PADDING-TOP: 30px
}
.ckBd {
	MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 235px
}
.company {
	WIDTH: 480px; PADDING-RIGHT: 40px; FLOAT: left; HEIGHT: 210px
}
.companynr {
	LINE-HEIGHT: 26px; WIDTH: 395px; FLOAT: left; HEIGHT: 185px; COLOR: #ff9292; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 15px
}
.knowledge {
	POSITION: relative; WIDTH: 480px; FLOAT: left; HEIGHT: 210px
}
.knowledge UL {
	WIDTH: 395px; FLOAT: left; HEIGHT: 210px; OVERFLOW: hidden
}
.knowledge UL LI {
	BORDER-BOTTOM: #cc3737 1px dotted; LINE-HEIGHT: 46px; HEIGHT: 46px; FONT-SIZE: 14px
}
.knowledge UL LI SPAN {
	TEXT-ALIGN: center; WIDTH: 25px; DISPLAY: inline-block; BACKGROUND: url(../images/index_22.png) no-repeat center center; HEIGHT: 46px; COLOR: #fff
}
.knowledge UL LI A {
	COLOR: #ff9292
}
.knowledge UL LI A:hover {
	COLOR: #fff
}
.footer {
	WIDTH: 100%; BACKGROUND: #000000
}
.link {
	WIDTH: 100%; BACKGROUND: url(../images/index_33.png) #5d0503 repeat-x center top; HEIGHT: 110px; PADDING-TOP: 16px
}
.linkkj {
	LINE-HEIGHT: 40px; MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 110px; OVERFLOW: hidden
}
.link_title {
	LINE-HEIGHT: 20px; PADDING-LEFT: 70px; WIDTH: 120px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; BACKGROUND: url(../images/pic4.png) no-repeat left 15px; FLOAT: left; HEIGHT: 85px; COLOR: #ff9292; FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-TOP: 25px
}
.link_list {
	WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 95px; PADDING-TOP: 15px
}
.link_list A {
	LINE-HEIGHT: 40px; PADDING-LEFT: 15px; COLOR: #ff9292; FONT-SIZE: 12px
}
.copyright {
	MARGIN: 0px auto; PADDING-LEFT: 15px; WIDTH: 1000px; HEIGHT: 160px
}
.btnav {
	COLOR: #474747; FONT-SIZE: 14px; text-align:center
}
.btnav A {
	LINE-HEIGHT: 70px; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; COLOR: #575757; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.btnav A:hover {
	COLOR: #fff
}
.copyrightnr {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; COLOR: #575757; FONT-SIZE: 12px
}
.copyrightnr A {
	COLOR: #575757
}
.copyrightnr A:hover {
	COLOR: #005da7
}
.sectionbg {
	POSITION: relative; MARGIN: auto; WIDTH: 100%; BACKGROUND: #f9f3d7; CLEAR: both; OVERFLOW: hidden
}
.main {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 1000px; PADDING-TOP: 30px
}
.left {
	PADDING-BOTTOM: 30px; WIDTH: 260px; PADDING-RIGHT: 30px; FLOAT: left; OVERFLOW: hidden
}
.leftTitle {
	PADDING-BOTTOM: 15px; LINE-HEIGHT: 48px; PADDING-LEFT: 30px; WIDTH: 230px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; BACKGROUND: url(../images/product_03.png) no-repeat left top; HEIGHT: 53px; COLOR: #fffdad; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.leftTitle SPAN {
	TEXT-TRANSFORM: uppercase; PADDING-LEFT: 10px; FONT-SIZE: 12px
}
.procla_list {
	WIDTH: 260px; MARGIN-BOTTOM: 20px; BACKGROUND: #a10d00
}
.procla_list UL LI {
	BORDER-BOTTOM: #d88a83 1px solid; LINE-HEIGHT: 45px; PADDING-LEFT: 40px; WIDTH: 220px; DISPLAY: block; BACKGROUND: url(../images/arrow.png) no-repeat 235px 18px; COLOR: #fffdad; FONT-SIZE: 12px
}
.procla_list A {
	COLOR: #fffdad; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.procla_list UL UL {
	DISPLAY: none; CLEAR: both
}
.procla_list UL UL LI {
	LINE-HEIGHT: 45px; PADDING-LEFT: 60px; WIDTH: 200px; BACKGROUND: url(../images/arrow.png) no-repeat 235px 18px; HEIGHT: 45px; COLOR: #000; FONT-SIZE: 14px
}
.procla_list UL UL LI A {
	COLOR: #fffdad; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.procla_list UL LI.open {
	BACKGROUND: url(../images/arrow2.png) no-repeat 235px 18px
}
.leftnews_list {
	WIDTH: 260px; MARGIN-BOTTOM: 20px
}
.leftnews_list UL LI {
	BORDER-BOTTOM: #bd9f31 1px dotted; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 10px; WIDTH: 240px; PADDING-RIGHT: 10px; HEIGHT: 40px; PADDING-TOP: 0px
}
.leftnews_list UL LI A {
	COLOR: #a10d00; FONT-SIZE: 12px
}
.leftcon_list {
	WIDTH: 260px
}
.leftcon_list DL {
	WIDTH: 260px; DISPLAY: block; CLEAR: both
}
.leftcon_list DL DT {
	LINE-HEIGHT: 30px; COLOR: #a10d00; FONT-SIZE: 12px
}
.leftcon_list DL DD {
	LINE-HEIGHT: 30px; COLOR: #a10d00; FONT-SIZE: 12px
}
.leftcon_list DL DT {
	PADDING-LEFT: 30px; WIDTH: 40px; FLOAT: left
}
.leftcon_list DL DD {
	WIDTH: 180px; PADDING-RIGHT: 10px; FLOAT: left
}
.main_con {
	WIDTH: 710px; FLOAT: left
}
.mainConTitle {
	PADDING-BOTTOM: 10px; WIDTH: 710px; BACKGROUND: url(../images/product_06.png) repeat-x left bottom; HEIGHT: 30px
}
.mainConTitle .title {
	LINE-HEIGHT: 27px; PADDING-LEFT: 65px; DISPLAY: block; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; BACKGROUND: url(../images/product_033.png) no-repeat left top; FLOAT: left; COLOR: #a10d00; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.mainConTitle .position {
	LINE-HEIGHT: 30px; DISPLAY: block; FLOAT: right; COLOR: #a10d00
}
.mainConTitle .position A {
	COLOR: #a10d00
}
.mainConTitle .position A:hover {
	COLOR: #000
}
.mainConList .pic1 {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-RIGHT: 12px
}
.mainConList .pic1 DT {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 214px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/picbg2.png) no-repeat center top; HEIGHT: 166px; PADDING-TOP: 5px
}
.mainConList .pic1 DD {
	TEXT-ALIGN: center; LINE-HEIGHT: 45px; WIDTH: 224px; HEIGHT: 45px; FONT-SIZE: 14px
}
.mainConList .pic1 DD A {
	COLOR: #a10d00
}
.mainConList .pic2 {
	BORDER-BOTTOM: #bd9f31 1px dotted; PADDING-BOTTOM: 14px; HEIGHT: 114px; PADDING-TOP: 14px
}
.mainConList .pic2 DT {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 140px; PADDING-RIGHT: 3px; BACKGROUND: url(../images/picbg3.png) no-repeat left top; FLOAT: left; HEIGHT: 109px; PADDING-TOP: 3px
}
.mainConList .pic2 DD {
	PADDING-LEFT: 20px; WIDTH: 544px; FLOAT: left
}
.mainConList .pic2 DD A {
	LINE-HEIGHT: 36px; COLOR: #a10d00; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.mainConList .pic2 .intro {
	LINE-HEIGHT: 24px; COLOR: #666666; FONT-SIZE: 12px
}
.mainConList .pic2 .time {
	LINE-HEIGHT: 30px; COLOR: #999; FONT-SIZE: 12px
}
.mainConList UL {
	PADDING-BOTTOM: 10px; CLEAR: both; PADDING-TOP: 10px
}
.mainConList UL LI {
	BORDER-BOTTOM: #bd9f31 1px dotted; PADDING-BOTTOM: 0px; LINE-HEIGHT: 50px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 50px; PADDING-TOP: 0px
}
.mainConList UL LI A {
	COLOR: #a10d00; FONT-SIZE: 14px
}
.mainConList UL LI A:hover {
	COLOR: #ee1300
}
.mainConList UL LI SPAN {
	FLOAT: right; COLOR: #a10d00
}
.pglist {
	WIDTH: 100%; HEIGHT: 100px; CLEAR: both
}
.pglist UL {
	TEXT-ALIGN: center; WIDTH: 100%; PADDING-TOP: 40px
}
.pglist UL LI {
	BORDER-BOTTOM: #c80202 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c80202 1px solid; LINE-HEIGHT: 26px; WIDTH: 26px; ZOOM: 1; DISPLAY: inline; FONT-FAMILY: Arial; BACKGROUND: #c80202; HEIGHT: 26px; MARGIN-LEFT: 5px; FONT-SIZE: 14px; BORDER-TOP: #c80202 1px solid; BORDER-RIGHT: #c80202 1px solid; _display: inline; _zoom: 1; _margin-left: 5px
}
.pglist UL LI A {
	DISPLAY: block; COLOR: #fff
}
.pglist UL LI.last {
	BORDER-BOTTOM: #c80202 1px solid; BORDER-LEFT: #c80202 1px solid; PADDING-LEFT: 10px; WIDTH: 56px; BACKGROUND: url(../images/lastBg.jpg) #c80202 no-repeat 6px center; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: #c80202 1px solid; BORDER-RIGHT: #c80202 1px solid
}
.pglist UL LI.next {
	BORDER-BOTTOM: #c80202 1px solid; BORDER-LEFT: #c80202 1px solid; WIDTH: 56px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/nextBg.jpg) #c80202 no-repeat 56px center; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: #c80202 1px solid; BORDER-RIGHT: #c80202 1px solid
}
.pglist UL LI.font {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 246px; PADDING-RIGHT: 10px; BORDER-TOP-STYLE: none; BACKGROUND: #f9f3d7; HEIGHT: 26px; COLOR: #c80202; BORDER-LEFT-STYLE: none
}
.pglist UL LI.font .page {
	BORDER-BOTTOM: #c80202 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c80202 1px solid; LINE-HEIGHT: 25px; MARGIN: 0px 10px; WIDTH: 40px; BACKGROUND: #c80202; HEIGHT: 25px; COLOR: #fff; BORDER-TOP: #c80202 1px solid; BORDER-RIGHT: #c80202 1px solid
}
.pglist UL LI.font .botton {
	BORDER-BOTTOM: #a66b00 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #a66b00 1px solid; LINE-HEIGHT: 26px; MARGIN: 0px 10px; WIDTH: 50px; BACKGROUND: #ee9e0b; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: #a66b00 1px solid; BORDER-RIGHT: #a66b00 1px solid
}
.pglist UL LI.on {
	BORDER-BOTTOM: #a66b00 1px solid; BORDER-LEFT: #a66b00 1px solid; BACKGROUND: #ee9e0b; BORDER-TOP: #a66b00 1px solid; BORDER-RIGHT: #a66b00 1px solid
}
.pglist UL LI.on A {
	COLOR: #fff
}
.mainContect {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 30px; MARGIN-TOP: 16px; MIN-HEIGHT: 845px; WORD-WRAP: break-word; HEIGHT: auto !important; COLOR: #c80202; FONT-SIZE: 14px; OVERFLOW: hidden; WORD-BREAK: break-all
}
.mainContect P {
	LINE-HEIGHT: 30px; WORD-WRAP: break-word; COLOR: #c80202; FONT-SIZE: 14px; WORD-BREAK: break-all
}
.mainContect .title {
	BORDER-BOTTOM: #bd9f31 1px dotted; TEXT-ALIGN: center; WIDTH: 100%; COLOR: #c80202; FONT-SIZE: 22px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.mainContect .title SPAN {
	LINE-HEIGHT: 50px; DISPLAY: block; COLOR: #c80202; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.mainContect .pic {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
.mainContect .pic IMG {
	MARGIN: 0px auto
}
.mainContect .con {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; WORD-WRAP: break-word; COLOR: #c80202; FONT-SIZE: 14px; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 20px
}
.mainContect .con P {
	LINE-HEIGHT: 30px; WORD-WRAP: break-word; COLOR: #c80202; FONT-SIZE: 14px; WORD-BREAK: break-all
}
.mainContect .pgfy {
	PADDING-BOTTOM: 20px; WIDTH: 100%; BORDER-TOP: #bd9f31 1px dotted; PADDING-TOP: 15px
}
.mainContect .pgfyl {
	WIDTH: 600px; FLOAT: left
}
.mainContect .pgfyl P {
	COLOR: #c80202
}
.mainContect .pgfyl P A {
	COLOR: #c80202
}
.mainContect .pgfyr {
	TEXT-ALIGN: center; WIDTH: 100px; FLOAT: left; PADDING-TOP: 30px
}
.mainContect .pgfyr A {
	COLOR: #c80202; FONT-SIZE: 14px
}
.mainContect {
	MARGIN-TOP: 16px; MIN-HEIGHT: 845px; HEIGHT: auto !important; COLOR: #c80202; FONT-SIZE: 14px
}
.hrBox {
	BORDER-BOTTOM: #cc3737 1px solid; BORDER-LEFT: #cc3737 1px solid; MARGIN-TOP: 15px; MIN-HEIGHT: 91px; WIDTH: 634px; BACKGROUND: #fff5c1; FLOAT: left; BORDER-TOP: #cc3737 1px solid; BORDER-RIGHT: #cc3737 1px solid; _margin-left: 10px; _height: 91px
}
.hrBoxL {
	TEXT-ALIGN: center; WIDTH: 100px; FLOAT: left
}
.hrBoxL LI {
	BORDER-BOTTOM: #cc3737 1px solid; LINE-HEIGHT: 30px; MIN-HEIGHT: 30px; WIDTH: 100px; COLOR: #c80202; FONT-SIZE: 14px; VERTICAL-ALIGN: bottom; _height: 30px
}
.jobName {
	WIDTH: 380px; FLOAT: left
}
.hrBtn {
	TEXT-ALIGN: center; WIDTH: 100px; FLOAT: left; PADDING-TOP: 3px
}
.hrBoxL LI.haode {
	BORDER-BOTTOM-STYLE: none; COLOR: #c80202; FONT-SIZE: 14px
}
.hrBoxR {
	TEXT-ALIGN: left; BORDER-LEFT: #cc3737 1px solid; WIDTH: 533px; FLOAT: left
}
.hrBoxR LI {
	BORDER-BOTTOM: #cc3737 1px solid; LINE-HEIGHT: 30px; MIN-HEIGHT: 30px; PADDING-LEFT: 15px; WIDTH: 508px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: bottom; _height: 30px
}
.hrBoxR LI.topline {
	HEIGHT: 30px; COLOR: #c80202; FONT-SIZE: 14px; OVERFLOW: hidden
}
.hrBoxR LI.bgWhite {
	HEIGHT: 30px; COLOR: #c80202; FONT-SIZE: 14px; OVERFLOW: hidden
}
.hrBoxR LI.topline IMG {
	MARGIN-TOP: 3px; COLOR: #c80202; FONT-SIZE: 14px
}
.hrBoxR LI.haode {
	BORDER-BOTTOM-STYLE: none; COLOR: #c80202; FONT-SIZE: 14px
}
.hrTable {
	BORDER-BOTTOM: #cc3737 1px solid; BORDER-LEFT: #cc3737 1px solid; WIDTH: 614px; BACKGROUND: #fff5c1; FLOAT: left; HEIGHT: 440px; MARGIN-LEFT: 35px; BORDER-TOP: #cc3737 1px solid; BORDER-RIGHT: #cc3737 1px solid; _margin-left: 17px
}
.tableTitle {
	BORDER-BOTTOM: #cc3737 1px solid; TEXT-ALIGN: center; LINE-HEIGHT: 36px; WIDTH: 614px; HEIGHT: 36px; FONT-WEIGHT: bold
}
.lineOne {
	BORDER-BOTTOM: #cc3737 1px solid; LINE-HEIGHT: 30px; WIDTH: 614px; HEIGHT: 30px
}
.lineOneL {
	TEXT-ALIGN: center; WIDTH: 94px; FLOAT: left; BORDER-RIGHT: #cc3737 1px solid
}
.lineOneR {
	PADDING-LEFT: 10px; WIDTH: 509px; FLOAT: left
}
.tableMainL {
	TEXT-ALIGN: center; WIDTH: 94px; FLOAT: left; BORDER-RIGHT: #cc3737 1px solid
}
.tableMainL LI {
	BORDER-BOTTOM: #cc3737 1px solid; LINE-HEIGHT: 30px; WIDTH: 94px; HEIGHT: 30px
}
.tableMainR {
	TEXT-ALIGN: left; WIDTH: 211px; FLOAT: left; BORDER-RIGHT: #cc3737 1px solid
}
.tableMainR LI {
	BORDER-BOTTOM: #cc3737 1px solid; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; WIDTH: 206px; HEIGHT: 30px; VERTICAL-ALIGN: bottom
}
.tableMainR LI SPAN {
	DISPLAY: inline-block
}
.tableMainRno {
	TEXT-ALIGN: left; WIDTH: 212px; FLOAT: left
}
.tableMainRno LI {
	BORDER-BOTTOM: #cc3737 1px solid; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; WIDTH: 207px; HEIGHT: 30px; VERTICAL-ALIGN: bottom
}
.tableMainRno LI SPAN {
	DISPLAY: inline-block
}
.input_hr {
	BORDER-BOTTOM: #cc3737 1px solid; BORDER-LEFT: #cc3737 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 0px; WIDTH: 126px; PADDING-RIGHT: 0px; HEIGHT: 17px; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-TOP: #cc3737 1px solid; BORDER-RIGHT: #cc3737 1px solid; PADDING-TOP: 0px
}
.sel_hr {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; WIDTH: 130px; PADDING-RIGHT: 0px; HEIGHT: 20px; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.bottomLine {
	BORDER-BOTTOM: #cc3737 1px solid; WIDTH: 614px; HEIGHT: 123px
}
.lineBootL {
	TEXT-ALIGN: center; WIDTH: 94px; FLOAT: left; HEIGHT: 123px; BORDER-RIGHT: #cc3737 1px solid
}
.lineBootR {
	PADDING-LEFT: 10px; WIDTH: 509px; FLOAT: left; HEIGHT: 123px
}
.are_hr {
	MARGIN-TOP: 11px; WIDTH: 470px; HEIGHT: 80px
}
.hr_btn {
	LINE-HEIGHT: 31px; WIDTH: 614px; HEIGHT: 31px
}
.hr_btnL {
	TEXT-ALIGN: center; WIDTH: 310px; FLOAT: left; HEIGHT: 31px; BORDER-RIGHT: #cc3737 1px solid
}
.hr_btnR {
	TEXT-ALIGN: center; WIDTH: 300px; FLOAT: left
}
.c_red {
	COLOR: #ff6600
}
.searchred {
	MARGIN: 0px; COLOR: #f00 !important
}
.hr {
	BORDER-BOTTOM: #cc3737 1px solid; BORDER-LEFT: #cc3737 1px solid; LINE-HEIGHT: 24px; MARGIN: 10px auto; WIDTH: 95%; BORDER-COLLAPSE: collapse; BACKGROUND: #fff5c1; COLOR: #c80202; FONT-SIZE: 12px; BORDER-TOP: #cc3737 1px solid; BORDER-RIGHT: #cc3737 1px solid
}
.hr TD {
	BORDER-BOTTOM: #cc3737 1px solid; BORDER-LEFT: #cc3737 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-COLLAPSE: collapse; COLOR: #c80202; FONT-SIZE: 14px; BORDER-TOP: #cc3737 1px solid; BORDER-RIGHT: #cc3737 1px solid; PADDING-TOP: 5px
}
.hr INPUT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 1.8; HEIGHT: 20px; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.hr TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 1.8; HEIGHT: 20px; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.hr A {
	COLOR: #333
}
.hr A:hover {
	COLOR: #de0303
}
.hr_btn {
	WIDTH: 100px; HEIGHT: 40px; COLOR: #c80202; FONT-SIZE: 14px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.clear {
	HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
.bookx {
	PADDING-LEFT: 25px; CLEAR: both
}
.bookmain {
	PADDING-BOTTOM: 0px; MARGIN: 20px auto; PADDING-LEFT: 25px; WIDTH: 640px; PADDING-RIGHT: 25px; BACKGROUND: #fff; HEIGHT: auto; PADDING-TOP: 0px
}
.bookline {
	MARGIN-TOP: 10px; WIDTH: 640px; FLOAT: left; HEIGHT: 20px
}
.book3 {
	MARGIN: 0px auto; WIDTH: 640px
}
.booktop {
	WIDTH: 640px; BACKGROUND: url(../images/bookico.png) no-repeat 10px 7px; FLOAT: left; HEIGHT: 30px
}
.booktop_name {
	LINE-HEIGHT: 30px; PADDING-LEFT: 30px; WIDTH: 470px; FLOAT: left; HEIGHT: 30px; FONT-WEIGHT: bold
}
.booktop_time {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px; WIDTH: 150px; FLOAT: left; HEIGHT: 30px; COLOR: #ccc
}
.bookcontent {
	BORDER-BOTTOM: #d6deef 1px solid; BORDER-LEFT: #d6deef 1px solid; PADDING-BOTTOM: 10px; MIN-HEIGHT: 40px; PADDING-LEFT: 10px; WIDTH: 610px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/bookcontentbg.jpg) #fff repeat-x; FLOAT: left; HEIGHT: auto !important; COLOR: rgb(30,54,1); BORDER-TOP: #d6deef 1px solid; BORDER-RIGHT: #d6deef 1px solid; PADDING-TOP: 10px
}
.bookadmin {
	WIDTH: 650px; FLOAT: left; HEIGHT: auto
}
.bookadmin_top {
	WIDTH: 650px; FLOAT: left; HEIGHT: 12px
}
.bookadmin_mid {
	BORDER-BOTTOM: #d6deef 1px solid; BORDER-LEFT: #d6deef 1px solid; PADDING-BOTTOM: 10px; MIN-HEIGHT: 30px; PADDING-LEFT: 10px; WIDTH: 610px; PADDING-RIGHT: 10px; BACKGROUND: #fff; FLOAT: left; HEIGHT: auto !important; COLOR: rgb(30,54,1); BORDER-RIGHT: #d6deef 1px solid; PADDING-TOP: 10px
}
.admintimecol {
	COLOR: #5e7194
}
.message {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 50px; WIDTH: 600px; HEIGHT: auto
}
.message LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 500px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 40px; PADDING-TOP: 0px
}
.message LI INPUT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 20px; WIDTH: 150px; HEIGHT: 20px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.message LI P.message_title {
	TEXT-ALIGN: right; LINE-HEIGHT: 20px; WIDTH: 100px; FLOAT: left; HEIGHT: 25px; COLOR: #c80202; FONT-SIZE: 14px
}
.message LI P.message_content {
	WIDTH: 400px; FLOAT: left; HEIGHT: 25px
}
.message LI.contentb {
	WIDTH: 500px; FLOAT: left; HEIGHT: 160px
}
.message LI.contentb TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 370px; HEIGHT: 120px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.message LI.yzm {
	WIDTH: 500px; FLOAT: left; HEIGHT: 60px
}
.message LI P.message_yzminput {
	WIDTH: 100px; FLOAT: left; HEIGHT: 15px
}
.message LI P.message_yzminput INPUT {
	WIDTH: 80px
}
.message LI P.message_yzmico {
	WIDTH: 100px; FLOAT: left; HEIGHT: 40px
}
.message LI P.message_sub {
	TEXT-ALIGN: right; WIDTH: 170px; FLOAT: left; HEIGHT: 40px
}
